
.corpsSettings {
    position: absolute;
    margin-left: 100px;
    top: 100px;
    width: 400px;
    height:400px;
    background: #3d3e8b;
    border: solid 5px #6db3ff ;
    border-radius: 25px;

}
.tableSettings {
    width: 300px;
    height: 180px;
    background: #6db3ff;
    margin-left: 55px;
    margin-top: 30px;
    border-radius: 25px;
    font-size: 50px;
    text-align: center;
}
.corpsTableSettings {
    margin-top: 20px;
    margin-left: 50px;
    width: 300px;
    height:100px;
    background: #3d3e8b;
    border: solid 5px #6db3ff ;
    border-radius: 25px;
}


